---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import ListIcons from '../components/ListIcons';
import SectionFullyCustomizable from '../components/SectionFullyCustomizable.astro';
import SectionAdvantages from "../components/SectionAdvantages.astro"
import Profile from '../components/Profile.astro';
import SectionAboutMe from '../components/SectionAboutMe.astro';
import SectionProjects from '../components/SectionProjects.astro';
import ProjectInfo from "../components/ProjectInfo"
import ImagesProjects from '../components/ImagesProjects';
import SectionContact from '../components/SectionContact.astro';
import SectionMultipleDevices from '../components/SectionMultipleDevices.astro'
---

<Layout title="Rogelio López | Web Developer | Portfolio">
	<Header />
	<main class="max-w-4xl mx-auto relative">
		<ListIcons />
		<div class="flex flex-col">
			<div class="flex max-sm:flex-col">
				<Profile />
				<SectionAboutMe />
			</div>
			<SectionProjects>
				<ImagesProjects slot='images' client:load/>
				<ProjectInfo slot="info" client:load/>
			</SectionProjects>
		</div>
		<SectionFullyCustomizable />
		<SectionAdvantages />
		<SectionMultipleDevices />
		<SectionContact />
	</main>
	<img class="absolute h-screen -z-10 top-0 bottom-0 left-0" src="/shadow.png" alt="shadow" />
	<img class="absolute h-screen -z-10 top-0 bottom-0 right-0" src="/shadow2.png" alt="shadow" />
</Layout>
