---
import { CgArrowUp } from "react-icons/cg";

---

<footer class="text-slate-50 bg-gray-900 p-4">
    <div class="max-w-4xl mx-auto flex items-end justify-between">
        <h2 class="font-bold text-xs">Design and Code by <span class="text-orange-500">Rogelio<span></h2>
        <a href="#" class="flex gap-1 items-center font-medium text-sm"><CgArrowUp className="text-xl"/>Go Up</a>
    </div>
</footer>