<div class="bg-cardBackground rounded-xl p-4">
    <h4 class="font-semibold text-base">Get in touch</h4>
    <div class="flex flex-col items-center mt-4 gap-2">
        <p class="text-center text-sm">You can contact me in all my social networks.</p>
        <span class="font-bold">or</span>
        <a href="" target="_blank" class="text-center [text-wrap:balance] bg-background rounded-xl font-regular text-white px-7 py-3 text-sm shadow-lg shadow-black/20">Send Me an Email</a>
    </div>
</div>