---
import SocialLinks from "./SocialLinks.astro";

---
<section class="animate-once animate-fade-up animate-delay-500 bg-gray-900 m-4 rounded-md flex-basis[35%] flex-shrink-0 flex gap-4 flex-col items-center text-slate-50 p-6">
    <div class="flex gap-4">
        <img src="/perfil.jpg" class="h-20 aspect-square rounded-full" />
        <div>
            <h1 class="flex flex-col font-bold">Rogelio López Bernal <span class="font-light">Web Developer</span></h1>
            <SocialLinks />
        </div>
    </div>
</section>