<div class="bg-cardBackground p-4 flex flex-col gap-6 rounded-xl">
    <img src="/perfil.jpg" alt="Foto de perfil" class="w-20 aspect-square rounded-full"/>
    <p class="font-medium text-base">I’m <span class="font-bold text-xl">Rogelio</span>, <span class="font-bold text-lg">+2 years</span> of experience as frontend developer, currently working with React, NodeJS, NextJS, Tailwind, and <span class="font-bold text-lg">MORE!</span></p>
</div>