---
import CardAdvantage from "./CardAdvantage.astro";

---

<section class="px-4 py-8 flex items-center flex-col">
    <img src="/devices.svg" alt="devices img" class="w-72 animate-fade animate-once" />
    <div class="flex">
        <CardAdvantage title="Fully Responsive" text="Web page optimized for Mobile" delay="200"/>
        <CardAdvantage title="Code is yours" text="All code is of your property." delay="500"/>
    </div>
</section>