<section class="flex flex-col p-4 text-slate-50 mt-4 gap-4 md:mb-16">
    <div class="flex flex-col md:flex-row justify-between md:items-center">
        <slot name="images"></slot>
        <slot name="info"></slot>
    </div>
</section>
