<section class="flex items-center flex-col">
    <h2 class="text-4xl text-white text-center mb-8">Fully Customizable</h2>
    <div class="flex gap-2 md:gap-12 p-4 md:p-8 items-center justify-center">
        <img src="/design_modern.svg" alt="Design modern svg" class="animate-fade-right animate-once w-44" />
        <div class="flex flex-col gap-4 items-center p-4">
            <h3 class="text-white max-sm:text-lg text-3xl animate-fade-left animate-once animate-delay-200 text-center">The design as you wish</h3>
            <div class="text-white font-light max-sm:text-sm text-lg">
                <p class="animate-once animate-fade-right text-center animate-delay-500"><span class="font-bold">Get the web</span> that you deserves and like you want.</p>
                <p class="animate-once animate-fade-left animate-delay-700 text-center">All you need is <span class="font-bold">comunication</span>.</p>
            </div>
        </div>
    </div>
</section>