<section class="text-slate-50 p-8">
    <div class="relative">
        <div class="absolute bg-black/70 top-0 left-0 right-0 bottom-0 gap-4 flex flex-col justify-center items-center">
            <h3 class="font-bold text-xl text-shadow shadow-slate-50">Want to work with me?</h3>
            <button class="px-4 py-2 bg-gradient-to-r from-orange-500 to-orange-700 rounded-md font-medium text-xs">Get in touch</button>
        </div>
        <img src="/image-prog.jpeg" alt="Imagen programacion" class="w-full aspect-video rounded-lg object-cover"/>
    </div>
</section>