<section class="flex flex-col p-4 text-slate-50 mt-4 gap-4">
    <h2 class="max-sm:text-xl text-3xl text-center mb-8">What have i done?</h2>
    <slot name="images"></slot>
    <slot name="info"></slot>
</section>
