<section class="bg-gray-900 m-4 rounded-md flex gap-4 flex-col text-slate-50 p-6">
    <h2 class="text-2xl">Hello, I'm <span class="text-shadow shadow-purple-500">Rogelio</span> 👋</h2>
    <p>I'm a Web Developer. But in my free time i like to practice some sport or do workouts.</p>
</section>