---
import Github from "./Icons/Github.astro";
import Instagram from "./Icons/Instagram.astro";
import Linkedin from "./Icons/Linkedin.astro";
import Twitter from './Icons/Twitter.astro';
---

<div class="flex gap-4 [&>svg>path]:fill-orange-400 [&>svg]:w-6 [&>svg]:aspect-square p-2">
    <Github />
    <Instagram />
    <Twitter />
    <Linkedin />
</div>